--extra-index-url https://download.pytorch.org/whl/cpu
# Core
fastapi
uvicorn
python-multipart
sse-starlette
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-openai
langchain-astradb
langchain-groq

# OpenAI
openai

# Vector DB
astrapy

# BM25
rank-bm25

# Reranker
torch==2.2.1+cpu
sentence-transformers==2.6.1

# Search tool
duckduckgo-search

# Evaluation
ragas

# Session storage
sqlalchemy

# Monitoring
prometheus-client
prometheus-fastapi-instrumentator

# Utils
pandas
numpy
pydantic
tqdm